/* ScrollableList.css */
.scrollable-list {
    /* max-height: 300px; */
    overflow-y: auto;
    border: 1px solid #ccc; 
  }
  .scrollable-list>ul {
    list-style: none;
    padding-left: 0px;
    list-style-type: none;
  }

.ItemImg{
    width :150px;
    height: 150px;
}
.ItemImg>img{
    height: 100%;
    width: 100%;
}
.ItemsDetails{
  display: flex;
  flex-direction: column;
}
.ItemTitle{
  flex:1 ;
  padding-top: 0px;
}
.ItemBody{
  flex: 2;
}
  
.linkStyle{
  text-decoration: none;
  color: black;
}
.ItemCard {
    width: 90vw;
    height: 150px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .ItemCard img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  .HeartContainer{
    margin: 0px;
    padding: 0px;
  }
  .TheHeart{
    margin: 0px;
    padding: 0px;
  }

  
  .ItemCard h1 {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .HorizontalLine{
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 20px;
  }
  .ItemCard p {
    font-size: 16px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 20px;
  }
  

  